a {
 display: inline-block;
 padding: 1em;
 margin: 0.5em;
 border: 0.15em solid lavender;
 color: darkslategray;
 background-color: seashell;
 border-radius: 2em;
 text-decoration: none;
}
a:hover {
 border-color: hotpink;
 color: darkred;
 background-color: lightpink;
 box-shadow: 0px 0px 5px 3px lightpink;
}
